<ion-content>
    <div class="content-separator"></div>
    <ion-grid style="max-width: 90%">
        <ion-row style="height: 100vh">
            <ion-col size="2.5">
                <ion-row>
                    <ion-col class="catalog-title">Catalog</ion-col>
                </ion-row>
                <ion-row class="separate-row">
                </ion-row>
                <ion-row>
                    <ion-col class="filter-panel">
                        <ion-row>
                            <ion-col>
                                Category
                                <div style="height: 2vh"></div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-list>
                                    <ion-item>
                                        <ion-checkbox color="primary"></ion-checkbox>
                                        <ion-label>Books</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-checkbox color="primary"></ion-checkbox>
                                        <ion-label>Newspapers</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-checkbox color="primary"></ion-checkbox>
                                        <ion-label>Magazines</ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-col size="8"></ion-col>
                    <ion-col>
                        <div>
                            Currency
                        </div>
                    </ion-col>
                    <ion-col>
                        <select name="carlist" form="carform">
                            <option value="aud">AUD</option>
                            <option value="byn">BYN</option>
                            <option value="eur">EUR</option>
                            <option value="grp">GPP</option>
                            <option value="pln">PLN</option>
                            <option value="uan">UAN</option>
                        </select>
                    </ion-col>
                    <ion-col>
                        <div>
                            Sort By
                        </div>
                    </ion-col>
                    <ion-col>
                        <select name="carlist" form="carform">
                            <option value="asc">Price: Low to High</option>
                            <option value="desc">Price: High to Low</option>
                        </select>
                    </ion-col>
                </ion-row>
                <ion-row class="separate-row">
                </ion-row>
                <ion-row>
                    <ion-col class="book-item">
                        <img src="assets/images/1.jpg" />
                        <div class="separator"></div>
                        <div class="book-title">Loren</div>
                        <div class="book-author">Ipsum</div>
                        <div class="book-price">$3</div>
                    </ion-col>
                    <ion-col class="book-item">
                        <img src="assets/images/1.jpg" />
                        <div class="separator"></div>
                        <div class="book-title">Loren</div>
                        <div class="book-author">Ipsum</div>
                        <div class="book-price">$3</div>
                    </ion-col>
                    <ion-col class="book-item">
                        <img src="assets/images/1.jpg" />
                        <div class="separator"></div>
                        <div class="book-title">Loren</div>
                        <div class="book-author">Ipsum</div>
                        <div class="book-price">$3</div>
                    </ion-col>
                </ion-row>
                <ion-row class="separate-row">
                </ion-row>
                <ion-row>
                    <ion-col class="book-item">
                        <img src="assets/images/1.jpg" />
                        <div class="separator"></div>
                        <div class="book-title">Loren</div>
                        <div class="book-author">Ipsum</div>
                        <div class="book-price">$3</div>
                    </ion-col>
                    <ion-col class="book-item">
                        <img src="assets/images/1.jpg" />
                        <div class="separator"></div>
                        <div class="book-title">Loren</div>
                        <div class="book-author">Ipsum</div>
                        <div class="book-price">$3</div>
                    </ion-col>
                    <ion-col class="book-item">
                        <img src="assets/images/1.jpg" />
                        <div class="separator"></div>
                        <div class="book-title">Loren</div>
                        <div class="book-author">Ipsum</div>
                        <div class="book-price">$3</div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
